<div class="summary">
  <a>Best movie of all times from every genre</a>
</div>
<div class="genres">
  <div>
    <a class="title">Action</a>
    <a>Title: {{_actionMovie.title}}</a>
    <a>Year: {{_actionMovie.year}}</a>
    <a>Description: {{_actionMovie.description}}</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Comedy</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Thriller</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Criminal</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Fantasy</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Animation</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Drama</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Sci-Fi</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
  <div>
    <a class="title">Horror</a>
    <a>Title:</a>
    <a>Year:</a>
    <a>Description:</a>
    <button>Show</button>
  </div>
</div>
