.genres{
  margin-top: 10px;
  display: flex;
  left: auto;
  right: auto;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.genres div{
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 14px;
}
.genres div button{
  margin-top: 10px;
}

.summary{
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.title{
  text-align: center;
  font-size: larger;
  padding-bottom: 10px;
}
