.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
.toolbar a{
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  border-bottom: solid transparent;
  border-top: solid transparent;
}
.title{
  border-right: solid white;
}
.right{
  margin-left: auto;
  order: 2;
}
.content {
  margin-top: 100px;
}
.toolbar a:hover:not(.title,.right){
  border-bottom: solid #5BA3EC;
}
